:root {
  --bgc-black: rgb(20, 18, 11);
  --primary: #edecec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  background: var(--bgc-black);
  color: var(--primary);
}

/* Top header  */
nav {
  background-color: var(--bgc-black);
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
}


.left-logo img {
  height: 22.5px;
  width: auto;
  display: block;
  object-fit: contain;
  margin-right: -15px;
  letter-spacing: -0.2rem;
  margin-left: 72px;
}

.mid-links {
  display: block;
   padding-left: 111px;
   letter-spacing: -0.1px;
}

.mid-links a {
  text-decoration: none;
  color: var(--primary);
  font-size: 14px;
  padding: 14px;
  line-height: 1.5rem;
}

.left-cta {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 72px;
}

.sign-in {
  color: var(--primary);
  background: var(--bgc-black);
  font-size: 14px;
  padding: 4px 10px;
  margin-right: 3.5px;
  border-radius: 40px;
  border: 1px solid rgba(237, 236, 236, 0.2);
  /* margin-right: 40px; */
}

.download {
  color: var(--bgc-black);
  background: var(--primary);
  font-size: 14px;
  padding: 5px 10.5px;
  border-radius: 40px;
  border: none;
}

/* main landing page */
main {
  width: 85.5%;
  margin: 20px auto;
}

.landing h2 {
  font-weight: 400;
  margin-top: 120px;
  font-size: 26px;
  letter-spacing: -0.325px;
}

main .cta-btn {
  color: var(--bgc-black);
  background: var(--primary);
  font-size: 16px;
  padding: 12.8px 21.6px;
  border-radius: 40px;
  border: 1px solid var(--bgc-black);
  font-weight: 400;
  margin: 20px 0;
}

.landing-main {
  position: relative;
}

/* bg image */
main .landing-bg {
  width: 100%;
  margin: 60px 0;
  border-radius: 4px;
  height: 42.5rem;
  position: relative;
}

/* code overlay image */
main .landing-code {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 4px;
}

.trusted-by h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 22.4px;
}

.trusted-comp {
  display: flex;
  gap: 8px;
}

.trusted-by img {
  box-sizing: content-box;
  flex: 1;
  height: 40px;
  background-color: rgb(27, 25, 19);
  padding: 35px;
  border-radius: 4px;
  margin-top: 25px;
}

/* Page ~ 2 */
.feature .card {
  margin-top: 80px;
  padding: 20px;
  height: 690px;
  background-color: rgb(27, 25, 19);
  display: flex;
  border-radius: 8px;
}

/* Page ~ 3  */
#card-2 {
  flex-direction: row-reverse;
}

#text-2 {
  margin-left: 40px;
}

.feature .text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.feature .text h3 {
  font-size: 22px;
  font-weight: 400;
}

.feature .text p {
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  font-weight: 400;
  font-size: 22px;
}

.feature .text a {
  color: rgb(245, 78, 0);
  text-decoration: none;
  margin-top: 20px;
}

.im {
  width: 70%;
  position: relative;
}

.im .bg-img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

/* code image overlay */
.im .code-img {
  border-radius: 8px;
  width: 664px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Page ~ 6  */
.testimonials h2 {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
}

.testimon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}

.testimon-grid .grid-card {
  background-color: rgb(27, 25, 19);
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
  height: 275px;
  position: relative;
}

.card-foot {
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.card-foot img {
  width: 40px;
  border-radius: 4px;
  margin: 15px;
}

/* Page ~ 7 */
.stay-frontier {
  margin-top: 180px;
}

.stay-frontier h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 40px;
}

.list-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card-frontier {
  display: flex;
  flex-direction: column;
  height: 523px;
  background-color: rgb(27, 25, 19);
  padding: 20px;
  border-radius: 8px;
}

.card-frontier h4 {
  font-size: 16px;
  font-weight: 400;
}

.card-frontier p {
  font-size: 16px;
  font-weight: 400;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
}

.card-frontier a {
  color: rgb(245, 78, 0);
  text-decoration: none;
  margin-top: 20px;
}

.card-frontier a i {
  font-size: 12px;
}

.card-frontier img {
  height: 370px;
  width: 370px;
  border-radius: 4px;
  margin-top: 15px;
}

/* Page 7.5  */
.changelog {
  margin-top: 180px;
}

.changelog h4 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}

.changelog .logs {
  display: flex;
  gap: 10px;
}

.card-changelog {
  background-color: rgb(27, 25, 19);
  padding: 30px;
  border-radius: 4px;
}

.card-changelog div {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  gap: 14px;
  color: #edecec99;
}

.card-changelog div span {
  border: 1px solid #edecec99;
  border-radius: 40px;
  padding: 3px 8px;
}

.changelog a {
  color: rgb(245, 78, 0);
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.changelog a i {
  font-size: 12px;
}

/* Page~8  */
.join-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.join-us h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 40px;
}

.join-us button {
  width: 134px;
  padding: 15px 30px;
  margin-bottom: 40px;
  border-radius: 40px;
  border: none;
}

.join-us img {
  border-radius: 4px;
}

/* Page ~ 9 */
.highlights-section {
  max-width: 100%;
  background: #1B1913;
  margin: 0 auto;
  padding: 80px 20px;
}

.highlights-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
  background: transparent;
  margin-right: 10%;
}

.highlights-label p {
  font-size: 16px;
  font-weight: 600;
  color: #d1d5db;

}

.highlights-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.highlight-card {
  background: rgba(255, 255, 255, 0.03);
  border: 0.5px solid rgba(255, 255, 255, 0.006);
  border-radius: 3.5px;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 16px;
  padding-bottom:24px;
  margin-right: 30%;
}

.highlight-card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  background: transparent;
  /* line-height: 1.9px; */
}

.description {
    font-size: 16px;
    color: #9b9b9b;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 12px;
    background: transparent;
}

.meta {
    font-size: 15px;
    font-weight: 500;
    color: #9b9b9b;
    background: transparent;
}

.view-more {
  margin-top: 12px;
  font-size: 14px;
  color: #ff6a00;
  text-decoration: none;
  align-self: flex-start;
}

/* Page ~ 9.5  */
.download-now {
  position: relative;
  height: 420px;
  margin-top: 180px;
}

.download-now div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.download-now h2 {
  font-size: 72px;
  font-weight: 400;
}

.download-now button {
  margin-top: 20px;
  padding: 14px 28px;
  border-radius: 40px;
  border: none;
  background: var(--primary);
  color: var(--bgc-black);
  font-size: 16px;
}

.final-cta {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at top,rgba(255, 200, 120, 0.15), transparent 70%);
}

.final-cta h2 {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 24px;
}

.final-cta .cta-btn {
  background: #edecec;
  color: #14120b;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

/* footer part  */

.footer {
  padding: 80px 0 40px;
  background: #1B1913;
}

.footer-grid {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #bdbdbd;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #edecec;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-bottom {
  width: 75%;
  margin: 40px auto 0;
  font-size: 13px;
  color: #9b9b9b;
  margin-bottom: 20px;
}

/* Finallyyyyyy Completedddddd !!!!!!!!!!  */
/* Love chaicode */
/* Love india */


